@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #09090b;
  color-scheme: light;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  color-scheme: dark;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
  margin: 0;
}
